# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# When you are using the docker-compose.yml provided, you can use the commection string example below:
# DATABASE_URL="postgresql://developerdeck101:developerdeck101@127.0.0.1:5432/test"
#Prisma
DATABASE_URL="postgresql://<user>:<password>@<url>:<port>/<db_name>"

#Authjs
# AUTH_SECRET=kK97XcWvA/cVouO72uXK84yop6qBa9fZ6X4fU7Ewp28=
AUTH_SECRET=314FUJnJeO1zGfxpxbmqqxQsBiCl/NwOyJ9AONpG03Y=
AUTH_LOGIN_REDIRECT=/
#Use em AUTH_TRUST_HOST em ambiente de desenvolvimento
#quando estiver usar modo produção para testar a
#verificação de e-mail
#AUTH_TRUST_HOST=true

#resend
NEXT_PUBLIC_URL=http://localhost:3000
RESEND_API_KEY=
RESEND_EMAIL_FROM="DeveloperDeck101 <onboarding@resend.dev>"




#Account Verification
VERIFICATION_URL=/auth/verify-email
VERIFICATION_SUBJECT=Verificação de E-mail
OTP_SUBJECT=Seu codigo de verificação
RESET_PASSWORD_URL=/auth/change-password
RESET_PASSWORD_SUBJECT=Mudança de senha