# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# When you are using the docker-compose.yml provided, you can use the connection string example below:
# DATABASE_URL="postgresql://developerdeck101:developerdeck101@127.0.0.1:5432/test"
# Use DB_USER and DB_PASSWORD in docker-compose.yml
# DB_USER=developerdeck101
# DB_PASSWORD=developerdeck101
# DB_PORT=5432
#Prisma
DB_USER="<user>"
DB_PASSWORD="<password>"
DB_PORT="<port>"
DATABASE_URL="postgresql://<user>:<password>@<url>:<port>/<db_name>"

#AuthJs
# AUTH_SECRET=kK97XcWvA/cVouO72uXK84yop6qBa9fZ6X4fU7Ewp28=
AUTH_SECRET=314FUJnJeO1zGfxpxbmqqxQsBiCl/NwOyJ9AONpG03Y=
AUTH_LOGIN_REDIRECT=/
#" Use em AUTH_TRUST_HOST em ambiente de desenvolvimento "
#" quando estiver usar modo produção para testar a "
#" verificação de e-mail "
# AUTH_TRUST_HOST=true

# Login Providers

# GOOGLE
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
# GITHUB
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
# Resend
AUTH_RESEND_KEY=

#resend
NEXT_PUBLIC_URL=http://localhost:3000
RESEND_EMAIL_FROM="DeveloperDeck101 <onboarding@resend.dev>"

#Account Verification
VERIFICATION_URL=/auth/verify-email
VERIFICATION_SUBJECT="Verificação de E-mail"
OTP_SUBJECT="Seu codigo de verificação"
RESET_PASSWORD_URL=/auth/change-password
RESET_PASSWORD_SUBJECT="Mudança de senha"