# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
#Prisma
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

#Authjs
# AUTH_SECRET=kK97XcWvA/cVouO72uXK84yop6qBa9fZ6X4fU7Ewp28=
NEXTAUTH_SECRET=+ABxH0q4d8+bRxuR9Mkmg7mBsuCEAacfrzGrO+Oj1NU=